build:
  maxIssues: 0

style:
  MagicNumber:
    active: false
  MaxLineLength:
    active: true
    maxLineLength: 120

naming:
  FunctionNaming:
    active: true
    ignoreAnnotated:
      - Composable
